<div class="container-fluid">
	
	<div class="row">	    			
		<div class="empty-space-big"></div>
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<div class="row">
    					<div class="col-sm-10">
    					<h3 class="panel-title">Mis solicitudes</h3>
    				</div>
    				<div class="col-sm-2 pull-right">
    					<a class="btn btn-success btn-xs"> <i class="fa fa-plus-circle fa-fw"></i> Solicitar Instituci&oacute;n</a>
    				</div>  
    				</div>              
				</div>
				<div class="panel-body">
				
					<ul class="nav nav-tabs">
                        <li ng-class="pendingClass"><a class="srcless-link" ng-click="setActiveTab('pending')">Pendientes</a>
                        </li>
                        <li ng-class="approvedClass"><a class="srcless-link" ng-click="setActiveTab('approved')">Aceptadas</a>
                        </li>
                    </ul>
                    <div class="empty-space-small"></div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div ng-if="activeTab=='pending'">
                            <div ng-repeat="req in pendingRequests" class="alert alert-danger">
								<div class="row">
									<div class="col-sm-1"><strong>TIPO</strong></div>
									<div class="col-sm-4"><strong>Nombre</strong></div>
									<div class="col-sm-2"><strong>Localidad</strong></div>
									<div class="col-sm-2"><strong>Con Internet</strong></div>
									<div class="col-sm-3">
										<strong>Estado</strong>
										<span class="pull-right">
											<i class="fa fa-trash fa-fw"></i>
										</span>
										<span class="pull-right">
											<i class="fa fa-edit fa-fw"></i>|
										</span>										
									</div>
									<hr>
									<div class="col-sm-1"><i class="{{ typeIconClasses[req.type].iconClass }}"></i></div>
									<div class="col-sm-4">{{req.name}}</div>
									<div class="col-sm-2">{{req.location}}</div>
									<div class="col-sm-2"><i class="{{internetStatusIcons[req.has_internet]}}"></i></div>
									<div class="col-sm-3">
										<div class="my-tooltip">
											{{req.status}}
											<span class="tooltiptext">{{req.statusIssue}}</span>
										</div>										
									</div>

									<div class="col-sm-2"><i class="{{reqStatusIcons[req.approved]}}"></i> </div>
								</div>
							</div>
                        </div>
                        <div ng-if="activeTab=='approved'">
                            <div ng-repeat="req in approvedRequests" class="alert alert-info">
								<div class="row">
									<div class="col-sm-1"><strong>TIPO</strong></div>
									<div class="col-sm-3"><strong>Nombre</strong></div>
									<div class="col-sm-2"><strong>Localidad</strong></div>
									<div class="col-sm-2"><strong>Con Internet</strong></div>
									<div class="col-sm-2"><strong>Ancho Banda</strong></div>
									<div class="col-sm-2">
										<strong>Aprobado</strong>
										<span class="pull-right">
											<i class="fa fa-trash fa-fw"></i>
										</span>										
									</div>
									<hr>
									<div class="col-sm-1"><i class="{{ typeIconClasses[req.type].iconClass }}"></i></div>
									<div class="col-sm-3">{{req.name}}</div>
									<div class="col-sm-2">{{req.location}}</div>
									<div class="col-sm-2"><i class="{{internetStatusIcons[req.has_internet]}}"></i></div>
									<div class="col-sm-2">{{req.bandwidth}}</div>
									<div class="col-sm-2"><i class="{{reqStatusIcons[req.approved]}}"></i> </div>
								</div>
							</div>
                        </div>                        
                    </div>




					
				</div>
			</div>
		</div>

	</div> <!-- row -->
											    	
	
</div> <!-- container-fluid -->