<div class="empty-space-small"></div>
<div class="row" ng-if="currentUserRole=='GUEST'">                
	<div class="col-sm-10 col-sm-offset-1">
	    <div class="col-lg-6 col-md-6 col-sm-12">
	        <div class="panel panel-green">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-file fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">Mis Solicitudes</div>
	                        
	                    </div>
	                </div>
	            </div>
	            <a href="#/guestHome">
	                <div class="panel-footer">
	                    <span class="pull-left">Ver detalles</span>
	                    <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            </a>
	        </div>
	    </div> <!-- badge end -->
	    <div class="col-lg-6 col-md-6 col-sm-12">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-hospital-o fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">Mis instituciones</div>                                    
	                    </div>
	                </div>
	            </div>                        
	            <a href="#/guestInstitutions">
	                <div class="panel-footer">
	                    <span class="pull-left">Ver detalles</span>
	                    <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            </a>
	        </div>
	    </div> <!-- badge end -->
	</div>
</div> <!--row -->