<div ng-include="'/templates/navigationBadges.html'"></div>
<div class="container-fluid">
	
	<div class="row">	    					
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h3 class="panel-title">Pools de IP de {{provinceName}}</h3>                
				</div>
				<div class="panel-body">
					
					<ul class="nav nav-tabs">
                        <li ng-class="subnetListTabClass">
                        	<a class="srcless-link" ng-click="setActiveTab('list')">Subnets</a>
                        </li>
                        <li ng-class="addOneSubnetTabClass">
                        	<a class="srcless-link" ng-click="setActiveTab('addOne')">Agregar Una</a>
                        </li>
                        <li ng-class="addSubnetRangeTabClass">
                        	<a class="srcless-link" ng-click="setActiveTab('addRange')">Agregar Rango</a>
                        </li>
                    </ul>
                    <div class="empty-space-small"></div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div ng-if="activeTab=='list'">
							
							<div class="row">
								<div ng-repeat="net in subnets" class="col-sm-6 col-md-4 col-lg-3">
									<div class="ip-block">
										<i class="{{ipSubnetIcons[net.available]}}"></i>
										<strong>{{net.subnet}}/{{net.cidr}}</strong>
										<i class="fa fa-trash pull-right"></i>
										<i class="fa fa-edit pull-right"> | </i>
									</div>
								</div> 
							</div>

							<!-- LEYENDA -->
							<div class="row text-center">
								<div class="empty-space-small"></div>
								<div class="col-sm-12">
									<div class="well well-sm">
										<strong>Leyenda:</strong> <br>
										<i class="fa fa-check-square"></i> Subnet en Uso &nbsp; &nbsp;
										<i class="fa fa-square-o"></i> Subnet disponible
									</div>
								</div>
							</div>						

                        </div>
                        <div ng-if="activeTab=='addOne'">
                            <div class="empty-space-small"></div>
                            <div class="col-sm-4 col-sm-offset-4">
                            	<label>Direcci&oacute;n IP</label>
                            	<input type="text" class="form-control" placeholder="IP/CIDR"> <br>
                            	<span class="help-block">Tenga en cuenta que no se validar&aacute; si la red se solapa con alguna ya existente</span>
                            </div>
                            <div class="col-sm-2 col-sm-offset-5">
                            	<button class="btn btn-block btn-success">Agregar</button>
                            </div>

                        </div>
                        <div ng-if="activeTab=='addRange'">
                            
                            <div class="empty-space-small"></div>
                            <div class="row">
                            	<div class="col-sm-4 col-sm-offset-1">
                            		<label>Direcci&oacute;n IP inicial</label>
	                            	<input type="text" ng-model="range.firstSubnet" class="form-control" placeholder="IP"> <br>
	                            </div>
	                            <div class="col-sm-4">
	                            	<label>Direcci&oacute;n IP final</label>
	                            	<input type="text" ng-model="range.lastSubnet" class="form-control" placeholder="IP"> <br>
	                            </div>
	                            <div class="col-sm-1">
	                            	<label>M&aacute;scara</label>
	                            	<select ng-model="range.CIDR" class="form-control">
	                            		<option>8</option>
	                            		<option>9</option>
	                            		<option>10</option>
	                            		<option>11</option>
	                            		<option>12</option>
	                            		<option>13</option>
	                            		<option>14</option>
	                            		<option>15</option>
	                            		<option>16</option>
	                            		<option>17</option>
	                            		<option>18</option>
	                            		<option>19</option>
	                            		<option>20</option>
	                            		<option>21</option>
	                            		<option>22</option>
	                            		<option>23</option>
	                            		<option selected>24</option>
	                            		<option>25</option>
	                            		<option>26</option>
	                            		<option>27</option>
	                            		<option>28</option>
	                            		<option>29</option>
	                            		<option>30</option>
	                            	</select>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-sm-12 text-center">
	                        		<span class="help-block">El rango se agregar&aacute; teniendo en cuenta el IP y el CIDR, pero no se garantiza que el subnetting sea correcto si los valores de inicio y fin no lo son.</span>
	                        	</div>
	                        </div>
                            <div class="col-sm-2 col-sm-offset-5">
                            	<button ng-click="addRange(range)" class="btn btn-block btn-success">Agregar</button>
                            </div>
                        </div>
                    </div> <!-- END tab panes -->
                    
				</div>
			</div>
		</div>

	</div> <!-- row -->
											    	
	
</div> <!-- container-fluid -->