<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" 
    style="margin-bottom: 0" ng-cloak ng-controller="navBarCtrl">
    <div class="navbar-header" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pull-left" href="/#home"><span><img src="../images/linkups-transpbg-small.png" class="app-logo" alt="Link-UPs"></span> | {{provinceName}}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right navbar-collapse">
        <li>
            <a href="#/home">
                <i class="fa fa-home fa-fw"></i> Inicio
            </a>
        </li>        
        <li ng-if="currentUserRole==='ADMIN'">
            <a href="#/settings">
                <i class="fa fa-gear"></i> Ajustes
            </a>
        </li>
        <li ng-if="currentUserRole==='GUEST'">
            <a href="#/stats">
                <i class="fa fa-pie-chart"></i> Estad&iacute;sticas
            </a>
        </li>
        <li class="dropdown srcless-link" ng-controller="notificationCtrl" ng-if="currentUserRole==='ADMIN'">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="readAll()">
                <span class="badge">{{unreadNotifications}}</span>  
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">                
                <li ng-repeat-start="item in notifications | orderBy:sortOrder | limitTo: 6" 
                ng-if="notifications.length>0">
                    <a>
                       <div class="row">
                           <div class="col-sm-1">
                               <i class="{{notificationIcons[item.type]}}"></i>
                           </div>
                           <div class="col-sm-9">
                               <strong>{{item.message}}</strong>
                           </div>
                           <div class="col-sm-1">
                               <label class="label label-info" ng-hide="item.read">new</label>
                           </div>
                           
                       </div>
                       <div class="row">
                       		<div class="empty-space-small"></div>
                       		<div class="col-sm-12 ">
								<label class="pull-right label label-primary">@{{item.user}}</label>  
								<span class=" pull-left text-muted">
                                    <i>{{item.time | date:'medium'}}</i>
                                </span>
                           	</div>
                       </div>
                    </a>
                </li>
                <li ng-if="notifications.length>0" ng-repeat-end class="divider"></li>
                
                <li ng-if="notifications.length==0">
                    <a>
                        <div class="text-center">
                            <i class="fa fa-bell-slash fa-fw"></i>                      
                            <span class="text-muted"><strong>NO HAY NOTIFICACIONES</strong></span>
                        </div>
                    </a>
                </li>
                <li ng-if="notifications.length==0" ng-repeat-end class="divider"></li>

                <li>
                    <a href="/#/showAllNotifications" class="text-center" >
                        <strong>Ver todas las Notificaciones</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle srcless-link" data-toggle="dropdown">
                <i class="fa fa-user-circle fa-fw"></i> {{currentUser}} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">                    
                <li><a href="#/viewProfile"><i class="fa fa-user-circle fa-fw"></i> Mi perfil </a>
                </li>                        
                <li class="divider"></li>                        
                <li><a ui-sref="login" ui-sref-opts="{reload: 'login'}" ng-click="logOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>