<div class="empty-space-small"></div>
<div class="row" ng-if="currentUserRole=='ADMIN'">                
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hospital-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Instituciones</div>                                    
                    </div>
                </div>
            </div>                        
            <a href="#/addInst">
                <div class="panel-footer">
                    <span class="pull-left">A&ntilde;adir nueva</span>
                    <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-pie-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Estad&iacute;sticas</div>
                        
                    </div>
                </div>
            </div>
            <a href="#/stats">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Usuarios</div>                                    
                    </div>
                </div>
            </div>
            <a href="#/viewUsers">
                <div class="panel-footer">
                    <span class="pull-left">Gestionar</span>
                    <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Ajustes</div>
                        
                    </div>
                </div>
            </div>
            <a href="#/settings">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>