<div ng-include="navbar.url"></div>
<div class="container-fluid">	
	<div ng-include="'/templates/navigationBadges.html'"></div>

	<div class="row">	    			
		<div class="empty-space-big"></div>
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h3 class="panel-title">Ajustes</h3>
				</div>
				<div class="panel-body">

					<form role="form" name="settingsForm">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Nombre de la provincia</label>
									<input type="text" class="form-control" placeholder="Nombre de la Provincia"
									ng-model="setting.provinceName" required></input>
									<span class="help-block">Se usar&aacute; en algunos lugares de la aplicaci&oacute;n</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<div class="toggle-container">
												<div class="col-sm-6">
													<label class="">Permitir Registro</label>
												</div>
												<div class="col-sm-6 pull-right">
													<label class="switch">
														<input type="checkbox" class="form-control" ng-model="setting.canRegister"> 
														<div class="slider round"></div>
													</label>
												</div>

											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<div class="toggle-container">
												<div class="col-sm-6">
													<label class="">Mostrar N&uacute;mero de L&iacute;nea en p&aacute;gina principal</label>
												</div>
												<div class="col-sm-6 pull-right">
													<label class="switch">
														<input type="checkbox" class="form-control" ng-model="setting.showLineNumber"> 
														<div class="slider round"></div>
													</label>
												</div>

											</div>
										</div>
									</div>
								</div> <!-- row -->
							</div>
						</div> <!-- row -->

						<div class="row">
							<div class="col-sm-4 col-sm-offset-4 text-center">
								<button ng-disabled="settingsForm.$invalid" type="button" class="btn btn-primary" ng-click="saveSettings()">
									<span class="fa fa-save fa-fw"></span>Guardar Ajustes
								</button>
							</div>
						</div>
						
					</form>

				</div>
			</div>
		</div>

	</div> <!-- row -->
											    	
	
</div> <!-- container-fluid -->
